# SQL Server Configuration
SA_PASSWORD=Test123!@#Strong
MSSQL_PID=Express

# Meilisearch Configuration
MEILI_MASTER_KEY=AA9shxrd4zOvVJ31NKOoEhC_p9h01XqcyJfmVth7H50

# Backend Configuration
ASPNETCORE_ENVIRONMENT=Development

# Frontend Configuration (Build time)
VITE_API_BASE_URL=http://localhost:8080/api
